<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css" />
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <nav style="background-color: #39f;" class="uk-navbar-container uk-margin-bottom" uk-navbar="top: 200">
        <div class="uk-navbar-left">
            <img class="uk-logo uk-margin-left" src="{{logo}}" alt="">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#" style="color: #fff">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                        {{title}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <iframe
                    src="https://ghbtns.com/github-btn.html?user=danielsss&repo=embed-viewer&type=star&count=true"
                    frameborder="0" scrolling="0" width="150" height="20" title="GitHub"
            ></iframe>
        </div>
    </nav>

    <div class="uk-section">
        <div class="uk-container">
            {{{html}}}
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
<script type="application/javascript">
    const struct = JSON.parse('{{{struct}}}');
    window.struct = struct;
    //TODO: dynamic render directories
</script>
</html>